.typed-cursor {
  opacity: 1;
  font-weight: 100;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite; }

@-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative; }

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important; }

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0; }

.scroll-element {
  display: none; }

.scroll-element, .scroll-element div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
  display: block; }

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default; }

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999; }

.scroll-textarea > .scroll-content {
  overflow: hidden !important; }

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important; }

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0; }

/*************** SCROLLBAR MAC OS X ***************/
.scrollbar-macosx > .scroll-element,
.scrollbar-macosx > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10; }

.scrollbar-macosx > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%; }

.scrollbar-macosx > .scroll-element .scroll-element_track {
  display: none; }

.scrollbar-macosx > .scroll-element .scroll-bar {
  background-color: #6C6E71;
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border-radius: 7px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.scrollbar-macosx:hover > .scroll-element .scroll-bar,
.scrollbar-macosx > .scroll-element.scroll-draggable .scroll-bar {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7; }

.scrollbar-macosx > .scroll-element.scroll-x {
  bottom: 0px;
  height: 0px;
  left: 0;
  min-width: 100%;
  overflow: visible;
  width: 100%; }

.scrollbar-macosx > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 0px;
  top: 0;
  width: 0px; }

/* scrollbar height/width & offset from container borders */
.scrollbar-macosx > .scroll-element.scroll-x .scroll-bar {
  height: 7px;
  min-width: 10px;
  top: -9px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-bar {
  left: -9px;
  min-height: 10px;
  width: 7px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_outer {
  left: 2px; }

.scrollbar-macosx > .scroll-element.scroll-x .scroll-element_size {
  left: -4px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_outer {
  top: 2px; }

.scrollbar-macosx > .scroll-element.scroll-y .scroll-element_size {
  top: -4px; }

/* update scrollbar offset if both scrolls are visible */
.scrollbar-macosx > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px; }

.scrollbar-macosx > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px; }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-display: swap; }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-display: swap; }

.chrome {
  background-image: url(../img/sprite-06359652529654063.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px; }

.github-logo {
  background-image: url(../img/sprite-06359652529654063.png);
  background-position: -68px 0px;
  width: 64px;
  height: 64px; }

.placeholder {
  background-image: url(../img/sprite-06359652529654063.png);
  background-position: 0px -68px;
  width: 64px;
  height: 64px; }

@-ms-viewport {
  width: device-width; }

.page {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  min-width: 320px;
  min-height: 100%; }
  .page__inner {
    overflow: hidden; }
  .page__inner::after {
    content: "";
    position: absolute;
    background: url("../img/circle-top.png") no-repeat;
    top: 0;
    left: 0;
    width: 21.5%;
    height: 415px;
    z-index: -10; }
  .page__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 9vh;
    padding-bottom: 9vh; }
  .page__footer-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  background-color: #fff;
  margin: 0;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Montserrat, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #231F20; }

[tabindex='-1']:focus {
  outline: none !important; }

[role='button'] {
  cursor: pointer; }

input[type='search'] {
  -webkit-appearance: textfield; }

a,
button,
[role='button'],
input,
label,
select,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

a svg,
button svg {
  pointer-events: none; }

img {
  max-width: 100%;
  height: auto; }

.main-nav {
  margin-bottom: 6vh;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden; }
  .main-nav__list {
    position: relative;
    width: 50vh;
    height: 50vh;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    border: 9px solid #f1f1f1;
    border-radius: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
    .main-nav__list::after {
      content: "";
      border-radius: 50%;
      width: 14vh;
      height: 14vh;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      z-index: 15; }
  .main-nav__item {
    position: absolute;
    width: 25vh;
    height: 25vh;
    left: -10px;
    top: -10px;
    overflow: hidden;
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    -webkit-transition: .5s;
    transition: .5s; }
    .main-nav__item:hover, .main-nav__item:focus {
      background-color: #f1f1f1; }
    .main-nav__item:nth-child(1) {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }
    .main-nav__item:nth-child(2) {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .main-nav__item:nth-child(3) {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .main-nav__item:nth-child(4) {
      -webkit-transform: rotate(270deg);
              transform: rotate(270deg); }
    .main-nav__item--active {
      background-color: #f1f1f1; }
      .main-nav__item--active .main-nav__link span {
        opacity: 1; }
      .main-nav__item--active .main-nav__link svg {
        fill: #d260f7; }
  .main-nav__link {
    display: block;
    width: 25vh;
    height: 25vh;
    text-decoration: none; }
    .main-nav__link:hover span,
    .main-nav__link:focus span {
      opacity: 1; }
    .main-nav__link:hover svg,
    .main-nav__link:focus svg {
      -webkit-transition: .5s;
      transition: .5s; }
    .main-nav__link--about {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
      padding-top: 63%;
      padding-left: 48%; }
      .main-nav__link--about svg {
        left: 65%; }
      .main-nav__link--about:hover svg,
      .main-nav__link--about:focus svg {
        fill: #d260f7; }
    .main-nav__link--experience {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
      padding-top: 71%;
      padding-left: 39%; }
      .main-nav__link--experience svg {
        top: 58%; }
      .main-nav__link--experience:hover svg,
      .main-nav__link--experience:focus svg {
        fill: #5699fe; }
    .main-nav__link--portfolio {
      -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg);
      padding-top: 62%;
      padding-left: 19%; }
      .main-nav__link--portfolio svg {
        left: 40%; }
      .main-nav__link--portfolio:hover svg,
      .main-nav__link--portfolio:focus svg {
        fill: #f56a60; }
    .main-nav__link--skills {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg);
      padding-top: 48%;
      padding-left: 39%; }
      .main-nav__link--skills svg {
        top: 35%; }
      .main-nav__link--skills:hover svg,
      .main-nav__link--skills:focus svg {
        fill: #00dbaf; }
    .main-nav__link svg {
      fill: #9b9b9b; }
    .main-nav__link span {
      display: block;
      opacity: 0;
      font-size: 1.8vh;
      color: #656565; }
  .main-nav__item-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 5.5vh;
    height: 5.5vh; }

.side-bar {
  width: 35.5%; }
  .side-bar__title {
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5vh;
    line-height: 1;
    color: #525252; }
  .side-bar__title::after {
    content: '.';
    color: #d55fef; }
  .side-bar__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 6vh;
    font-weight: 400;
    font-size: 2.8vh;
    color: #525252;
    line-height: 1; }

.social__title {
  margin: 0;
  padding: 0;
  margin-bottom: 2.5vh;
  font-size: 2.4vh;
  color: #7a7a7a;
  font-weight: 900; }

.social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social__link {
  display: block;
  margin-right: 5%; }

.social__icon {
  width: 5vh;
  height: 5vh;
  -webkit-transition: .5s;
  transition: .5s; }

.social__link:hover .social__icon, .social__link:focus .social__icon {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: .5s;
  transition: .5s; }

.content {
  width: 64.5%; }
  .content__scrollbar {
    font-size: 25px; }

/*# sourceMappingURL=style.css.map */
