mixin social()
  .social
    h2.social__title Давайте работать вместе
    .social__links
      a(href='https://t.me/serrrgun' title='вконтакте' target='blank').social__link
        svg.social__icon
          use(xlink:href="img/sprite-svg.svg#telegram")
      a(href='https://vk.com/roadtoit' title='телеграм' target='blank').social__link
        svg.social__icon
          use(xlink:href="img/sprite-svg.svg#vk")
      a(href='https://plus.google.com/u/0/115555757947656905837' title='гугл+' target='blank').social__link
        svg.social__icon
          use(xlink:href="img/sprite-svg.svg#google-plus")
