// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  margin-bottom: 6vh;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;

  @media screen and (max-width: $screen-sm) {
    margin: 0 auto;
    margin-bottom: 10vw;
    border-radius: 0%;
    overflow: inherit;
    width: 100%;
    height: 100%;
  }

  &::after  {
    content: "";
    position: absolute;
    display: block;
    left: 5.5vh;
    top: 50%;
    width: 4vh;
    height: 4vh;
    border: 7px solid #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }

  &::before  {
    content: "";
    position: absolute;
    display: block;
    left: 36vw;
    top: 50%;
    width: 2vh;
    height: 2vh;
    background-color: #f1f1f1;
    border-radius: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: $screen-sm) {
      display: none;
    }
  }


  &__list {
    position: relative;
    width: 50vh;
    height: 50vh;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    border: 9px solid #f1f1f1;
    border-radius: 50%;
    transform: rotate(-45deg);

    @media screen and (max-width: $screen-sm) {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      transform: rotate(0deg);
      border: none;
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "";
      border-radius: 50%;
      width: 14vh;
      height: 14vh;
      box-sizing: border-box;
      background-color: #fff;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,- 50%);
      z-index: 15;

      @media screen and (max-width: $screen-sm) {
        display: none;
      }
    }
  }

  &__item {
    position: absolute;
    width: 25vh;
    height: 25vh;
    left: -10px;
    top: -10px;
    overflow: hidden;
    transform-origin: 100% 100%;
    transition: .5s;

    @media screen and (max-width: $screen-sm) {
      position: relative;
      background-color: #f1f1f1;
      border-radius: 50%;
      width: 49%;
      height: 34vw;
      transform: rotate(0deg) !important;
      top: 0;
      left: 0;
      margin-bottom: 20px;
      margin-right: 2%;
    }

    &:hover,
    &:focus {
      background-color: #f1f1f1;
    }

    &:nth-child(1) {
      transform: rotate(0deg);
    }

    &:nth-child(2) {
      transform: rotate(90deg);
    }

    &:nth-child(3) {
      transform: rotate(180deg);
    }

    &:nth-child(4) {
      transform: rotate(270deg);
    }

    &--active {
      background-color: #f1f1f1;

      .main-nav__link--about {
        @media screen and (max-width: $screen-sm) {
          background-color: #d260f7;
        }

        svg {
          @media screen and (max-width: $screen-sm) {
            fill: #ffffff;
          }
        }
      }

      .main-nav__link span  {
        opacity: 1;
      }

      .main-nav__link svg {
        fill: #d260f7;
      }
    }
  }

  &__item:nth-of-type(2n) {
    @media screen and (max-width: $screen-sm) {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 25vh;
    height: 25vh;
    text-decoration: none;

    @media screen and (max-width: $screen-sm) {
      padding: 0;
      width: 100%;
      height: 100%;
      transform: rotate(0deg);
    }

    svg {
      @media screen and (max-width: $screen-sm) {
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
      }
    }

    &:hover span,
    &:focus span {

      opacity: 1;
    }

    &:hover svg,
    &:focus svg {
      transition: .5s;
    }

    &--about {
      transform: rotate(45deg);
      padding-top: 63%;
      padding-left: 48%;


      svg {
        left: 65%;
      }

      &:hover svg,
      &:focus svg {
       fill: #d260f7;
      }
    }

    &--experience {
      transform: rotate(-45deg);
      padding-top: 71%;
      padding-left: 39%;

      svg {
        top: 58%;
      }

      &:hover svg,
      &:focus svg {
       fill: #5699fe;
      }
    }

    &--portfolio {
      transform: rotate(-135deg);
      padding-top: 62%;
      padding-left: 19%;

      svg {
        left: 40%;
      }

      &:hover svg,
      &:focus svg {
       fill: #f56a60;
      }
    }

    &--skills {
      transform: rotate(135deg);
      padding-top: 48%;
      padding-left: 39%;

      svg {
        top: 35%;
      }

      &:hover svg,
      &:focus svg {
       fill: #00dbaf;
      }
    }

    svg {
      fill: #9b9b9b;
    }

    span {
      display: block;
      opacity: 0;
      font-size: 1.8vh;
      color: #656565;

      @media screen and (max-width: $screen-sm) {
        display: none
      }
    }
  }

  &__item-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5.5vh;
    height: 5.5vh;

  }
}
