mixin about()
  .about
    h2.about__title Обо мне.
    p.about__desc С 2017 года и по сегодняшний день занимаюсь web-разработкой. Занимаюсь Html-версткой сайтов различной тематики (сайт визитка, интернет-магазин, портал, Landing Page и т.д.) с подключением Javascript и jQuery библиотек.
    p.about__desc Верстаю по стандартам W3C (валидный код), соблюдаю кроссбраузерность IE 8+, Opera 10+, Chrome, FireFox 3+. Имею много опыта верстки проектов с адаптивным дизайном (Responsive Web Design) это когда дизайн сайта динамически подстраивается под разные размеры окна браузера. Верстка бестабличная, использую технологию flexbox (изучаю grid layout), полное соответствие макету.
    p.about__desc использую в работе сборщик Gulp (есть понимание Webpack), шаблонизатор HTML Pug, препроцессор css Sass (есть опыт Less, Stylus), работаю с svg форматом.
    p.about__desc Есть знания в сфере администрирования и наполнения сайтов контентом. Так же умею делать html-письма для e-mail рассылок.
    p.about__desc Профессиональные навыки: знание принципов юзабилити сайтов, опыт визуализации и проектирования пользовательских интерфейсов, опытный пользователь PC, отрисовка растровых объектов в вектор, обработка растровых изображений, Html&Css, Html5&Css3, JavaScript, JQuery, умение работать в сжатые сроки.
    p.about__desc Знания программ: работа с графическими редакторами (Adobe: Photoshop, Illustrator), html-редакторами (Brackets, Emmet, WebStorm, VSCode), есть опыт использования Zeplin, Figma, Avocode. CRM системы Bitrix24, Trello.
    p.about__desc Хороший опыт работы с системой контроля версий Git. Профиль на GitHub можно посмотреть <a href="https://github.com/serrrgun" title="профиль git">тут</a>.

