mixin about()
  .about
    h2.about__title Обо мне.
    p.about__desc My name is John, and I’m a copywriter. If you need creative texts for your busines, startup, service or product - Ill use my  best skills for your success
    p.about__desc My name is John, and I’m a copywriter. If you need creative texts for your busines, startup, service or product - Ill use my  best skills for your success
    p.about__desc My name is John, and I’m a copywriter. If you need creative texts for your busines, startup, service or product - Ill use my  best skills for your success
    p.about__desc My name is John, and I’m a copywriter. If you need creative texts for your busines, startup, service or product - Ill use my  best skills for your success
