// В этом файле должны быть стили для БЭМ-блока project, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.project {

  display: flex;
  flex-direction: column;
  
  &__img {
  
    height: auto;
    
    img {
      border-radius: 5px;
      display: block;
    }
  }

  &__ph {
    font-size: 24px;
    line-height: 1.46;
    color: #525252;
    margin-bottom: 40px;
  }

}
