mixin progress-bar()
  .progress-bar
    .progress-bar__item
      .progress-bar__circle
        .second.circle
          span
      .progress-bar__inner    
        span.progress-bar__title  Creativity
        p.progress-bar__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .progress-bar__item
      .progress-bar__circle
        .second.circle
          span
      .progress-bar__inner    
        span.progress-bar__title  Creativity
        p.progress-bar__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .progress-bar__item
      .progress-bar__circle
        .second.circle
          span
      .progress-bar__inner    
        span.progress-bar__title  Creativity
        p.progress-bar__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .progress-bar__item
      .progress-bar__circle
        .second.circle
          span
      .progress-bar__inner    
        span.progress-bar__title  Creativity
        p.progress-bar__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.            
