mixin photo()
  .photo
    .photo__inner
      img(src='img/my-photo@1x.jpg' srcset='img/my-photo@2x.jpg 2x' alt='мое фото').photo__item
    .photo__inner
      img(src='img/laptop@1x.jpg' srcset='img/laptop@2x.jpg 2x' alt='моя работа').photo__item
