mixin buttons()
  .buttons
    a.buttons__link.buttons__link--contact(href='#' title='написать мне') напишите мне
    a.buttons__link.buttons__link--work(href='#' title='посмотреть работы') мои работы
