extends templates/layout-experience.pug

block meta
  title Experience
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  section.side-bar
    h1.side-bar__title.side-bar__title--experience Сергей Турищев
    button(type="button" title="Открытие меню").side-bar__btn.side-bar__btn--experience
    p.side-bar__desc
      span.side_bar__desc-typed
    .side-bar__panel
      h1.side-bar__title.side-bar__title--experience.side-bar__title--mobile Сергей Турищев
      -var selected = 'experience';
      +main-nav(selected)
      +social()

block content
  section.content
    .content__scrollbar.content__scrollbar--pr.scrollbar-macosx
      h2.content__title.content__title--experience Опыт
      p.content__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. 
      +experience()




//- block append page-bottom
//-   script(src='some.js')
