extends templates/layout-home.pug

block meta
  title Home
  meta(name='description', content='Home page!')

//- block append head
//-   link(rel="stylesheet", href="some.css")
//-   script(src='some.js')

block nav
  section.side-bar
    h1.side-bar__title Сергей Турищев
    p.side-bar__desc
      span.side_bar__desc-typed
    .side-bar__panel
      -var selected = 'about me';
      +main-nav(selected)
      +social()

block content
  section.content
    .content__scrollbar.scrollbar-macosx
      +photo()
      +buttons()
      +about()



//- block append page-bottom
//-   script(src='some.js')
