// В этом файле должны быть стили для БЭМ-блока side-bar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.side-bar {

  $block-name:                &; // #{$block-name}__element

  width: 35.5%;

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5vh;
    line-height: 1;
    color: #525252;
  }

  &__title::after {
    content: '.';
    color: #d55fef;
  }

  &__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 6vh;
    font-weight: 400;
    font-size: 2.8vh;
    color: #525252;
    line-height: 1;
  }
}
