// В этом файле должны быть стили для БЭМ-блока side-bar, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.side-bar {

  $block-name:                &; // #{$block-name}__element

  width: 40%;

  @media screen and (max-width: $screen-md) {
    position: relative;
    width: 100%;
  }

  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 1vh;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 5vh;
    line-height: 1;
    color: #525252;

    &--mobile {
      display: none;
      margin-bottom: 10vw;

      @media screen and (max-width: $screen-md) {
        display: block;
        margin-bottom: 15vw;
      }

      @media screen and (max-width: $screen-md) and (orientation: landscape) {
        margin-bottom: 5vw;
      }
    }

    @media screen and (max-width: $screen-md) {
      font-size: 6vw
    }

    @media screen and (max-width: $screen-md) and (orientation: landscape) {
      font-size: 4vw;
    }
  }

  &__title::after {
    content: '.';
    color: #d55fef;
  }

  &__title--portfolio::after {
    color: #f56a60;
  }

  &__title--skills::after {
    color: #00dbaf;
  }

  &__title--experience::after {
    color: #5699fe;
  }

  &__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 6vh;
    font-weight: 400;
    font-size: 2.8vh;
    color: #525252;
    line-height: 1;

    @media screen and (max-width: $screen-md) {
      font-size: 5vw;
    }

    @media screen and (max-width: $screen-md) and (orientation: landscape) {
      margin-bottom: 25vh;
    }
  }

  &__panel {
    @media screen and (max-width: $screen-md) {
      position: fixed;
      top: 0;
      left: 0;
      width: 90%;
      min-height: 100vh;
      z-index: 30;
      background-color: #ffffff;
      padding-top: 10%;
      padding-left: 10%;
      display: block;
      transform: translateY(-100%);
      transition: .8s;
    }

    @media screen and (max-width: $screen-md) and (orientation: landscape) {
      padding-left: 5%;
      padding-top: 5%;
    }
  }

  &__panel--active {
    @media screen and (max-width: $screen-md) {
      transform: translateY(0%);
      transition: .8s;
    }
  }

  &__btn {
    display: none;
    outline: none;

    @media screen and (max-width: $screen-md) {
      position: fixed;
      display: block;
      top: 5%;
      right: 10%;
      width: 12vw;
      height: 12vw;
      border: none;
      background-color: transparent;
      background-image: url("../img/menu.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 100;
      outline: none;
      transition: .8s;
    }

    &--skills {
      @media screen and (max-width: $screen-md) {
        background-image: url("../img/menu-skills.png");
      }
    }

    &--skills.side-bar__btn--active {
      background-color: #00dbaf;
    }

    &--portfolio {
      @media screen and (max-width: $screen-md) {
        background-image: url("../img/menu-portfolio.png");
      }
    }

    &--portfolio.side-bar__btn--active {
      background-color: #f56a60;
    }

    &--skills.side-bar__btn--active {
      background-color: #00dbaf;
    }

    &--experience {
      @media screen and (max-width: $screen-md) {
        background-image: url("../img/menu-experience.png");
      }
    }

    &--experience.side-bar__btn--active {
      background-color: #5699fe;
    }

    @media screen and (max-width: $screen-md) and (orientation: landscape) {
      width: 10vw;
      height: 10vw;
      top: 8%;
      right: 8%;
    }

    &--active {
      @media screen and (max-width: $screen-md) {
        background-image: url("../img/menu-close.png");
        background-color: #d260f7;
        border-radius: 50%;
        background-size: 7vw 7vw;
        transition: .8s;

      }
    }
  }
}
