// В этом файле должны быть стили для БЭМ-блока content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content {

  $block-name:                &; // #{$block-name}__element

  width: 60%;

  &__scrollbar {
    max-height: 82vh;
    height: 100%;
    padding-right: 10px !important;

    @media screen and (max-width: $screen-md) {
      max-height: 100%;
      padding-right: 0 !important;
    }
  }

  @media screen and (max-width: $screen-md) {
    width: 100%;
  }

  &__scrollbar--pr {
    padding-right: 10% !important;

    @media screen and (max-width: $screen-md) {
      padding-right: 1% !important;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 800;
    text-align: left;
    color: #525252;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -20px;
      width: 80px;
      height: 6px;
      border-radius: 3px;
      background-color: #f84b3e;
    }

    &--experience {
      &::before {
        background-color: #428af6;
      }
    }

    &--skills {
      &::before {
        background-color: #01d1a7;
      }
    }

    &--project {
      display: block;
      text-decoration: none;
      padding-left: 40px;
      background-image: url("../img/left-arrow.png");
      background-repeat: no-repeat;
      background-size: 29px;
      background-position: 5px 50%;
      transition: .3s;

      &::before {
        left: 40px;
      }

      &:hover {
        background-position: 0 50%;
        transition: .3s;
      } 
    }
  }

  &__subtitle {
    font-size: 24px;
    color: #525252;
    margin-bottom: 50px;
  }


}

